html {
    --s: 100px; /* control the size*/
    --c1: #aa9187;
    --c2: #355c7d;

    --_g: 
        var(--c2) 6%  14%,var(--c1) 16% 24%,var(--c2) 26% 34%,var(--c1) 36% 44%,
        var(--c2) 46% 54%,var(--c1) 56% 64%,var(--c2) 66% 74%,var(--c1) 76% 84%,var(--c2) 86% 94%;
    background:
        radial-gradient(100% 100% at 100% 0,var(--c1) 4%,var(--_g),#0008 96%,#0000),
        radial-gradient(100% 100% at 0 100%,#0000, #0008 4%,var(--_g),var(--c1) 96%)
        var(--c1);
    background-size: var(--s) var(--s);
}

body{
    background-color: transparent;
}

.container
{
    margin-top: 0;
    background-color: #F8F4EC;
    width: 80%;
    margin-left: 10%;
    padding-block-end: 50pt;
}

h1.bolgtitle {
    padding-top: 4px;
    font-size: 60px;
}


article > p{
    text-align: justify;
    margin-left: 5%;
    margin-right: 5%;
    font-size: large;
}

article{
    padding-bottom: 5px;
}

article > h2, article > h3, article > h4, article > h5, article > figure{
    margin-left: 5%;
}

figure{
    text-align: center;
}


.blogMenu :nth-child(odd){
    background-color: #ddd;
}

.rightnav a{
    margin-right: 0;
    right: 5px;
}

.leftnav a{
    left: 5px;
}

.navbutton a{
    display: block;
    background-color: #402B3A;
    color: #f2f2f2;
    text-align: center;
    position: fixed;
    width: 15%;
    bottom: 30px;
    padding: 8px 0px;
    font-size: 16px;
    content: "";
}

.navbutton a{
    text-decoration: none;
    color: #f2f2f2;
}

.navbutton a:hover {
    background-color: #ddd;
    color: black;
}

.wireframe-display > figure{
    text-align: center;
    flex: 50%;
    padding: 0;
    margin: 0;
}

figure{
    text-align: center;
    padding-top: 25px;
}

.wireframe-display > figure > img{
    width: 500px;
}


.wireframe-display{
    display: flex;
    flex-wrap: wrap;
}

* {
    box-sizing: border-box;
}

.info-structure{
    width: 300px;
}

.userflow{
    width: 500px;
}
figure:has(> .userflow){
    margin: 0;
}

@media only screen and (max-width: 870px){
    article > figure > img{
        width: 100%;
    }
}

@media only screen and (max-width: 768px) {
    
    article {
        width: 84%;
        margin-left: 8%;
    }

    .container{
        width: 100%;
        margin-left: 0%;
    }


    .navtext{
        visibility: hidden;
        font-size: 0;
    }

    .emoji
    {
        font-size: x-large;
    }

    .navbutton a{
        width: 10%;
    }


}

@media only screen and (max-width: 600px){

    article {
        width: 95%;
        margin-left: 2.5%;
    }
    article h2, article h3, article h4, article h5, article figure, article p{
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

@media only screen and (max-width: 580px) {
    .userflow
    {
        width: 100%;
    }
    .wireframe-display figure{
        flex: 100%;
    }
    .wireframe-display > figure > img{
        width: 100%;
    }
}
