body{
    background-color: #F8F4EC; 
    color: #402B3A;
    font-family: Georgia, serif;
}

h1 {
    text-align: center;
    color: #D63484;
    font-size: 7vw;
    margin-top: 0.5vw;
}

article {
    width: 90%;
    padding-left: 5%;
}

h1.bolgtitle {
    font-size: 5vw;
}

nav {
    overflow: hidden;
    background-color: #402B3A;
    
}

nav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    width: 16.66%;
    padding-bottom: 1vw;
    padding-top: 1vw;
    
    text-decoration: none;
    font-size: 2.5vw;
}

nav a:hover {
    background-color: #ddd;
    color: black;
}

nav a.active {
    background-color: #FF9BD2;
    color: black;
} 

.botnav{
    text-align: center;
}

.botnav a{
    /* float: none; */

    background-color: #402B3A;
    color: #f2f2f2;
    text-align: center;
    width: 20%;
    padding: 1vw 3vw;
    
    text-decoration: none;
    font-size: 1vw;
}

.botnav a:hover {
    background-color: #ddd;
    color: black;
}